@model IEnumerable<OnlineStoreV2.Models.Product>
@using System.Security.Claims;

@{ ViewData["Title"] = "Index"; }
<style>
    .card {
        box-shadow: 2 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        float: left;
        margin: 10px 50px 20px 20px;
        outline-color: black;
        outline: 5px
    }

    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card-image {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>
@{ var Name = User.FindFirst(ClaimTypes.Name).Value; }
<center><h2>Welcome, @Name!</h2></center>

<p>
    <a asp-action="Create">Create New</a>
</p>



@foreach (var item in Model)
{
<div class="card">
    <img src="~/ProductImages/@Html.DisplayFor(model => item.Image)" alt="Prod" class="card-image">
    <h1>@item.Name</h1>
    <p class="price">$19.99</p>
    <p>@item.Description</p>
    <a asp-action="Details" asp-route-id="@item.Id"><button>Details</button></a>
</div>}


